extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Profile Information

  form(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='usertype', value = user.usertype)
    if user.usertype === 'jobSeeker'
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
        .col-md-7
          input.form-control(type='email', name='email', id='email', value=user.email)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name
        .col-md-7
          input.form-control(type='text', name='name', id='name', value=user.profile.name)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right Gender
        .col-sm-6
          label.radio.col-sm-3
            input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
            span Male
          label.radio.col-sm-3
            input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
            span Female
          label.radio.col-sm-3
            input(type='radio', checked=user.profile.gender=='other', name='gender', value='other', data-toggle='radio')
            span Other
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='location') Location
        .col-md-7
          input.form-control(type='text', name='location', id='location', value=user.profile.location)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='website') Website
        .col-md-7
          input.form-control(type='text', name='website', id='website', value=user.profile.website)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right Gravatar
        .col-sm-4
          img(src=user.gravatar(), class='profile', width='100', height='100')
      .form-group
        .offset-sm-3.col-md-7.pl-2
          button.btn.btn.btn-primary(type='submit')
            i.fas.fa-pencil-alt.fa-sm
            | Update Profile
    else if user.usertype === 'employer'
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
        .col-md-7
          input.form-control(type='email', name='email', id='email', value=user.email)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name
        .col-md-7
          input.form-control(type='text', name='name', id='name', value=user.profile.name)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='company') Company
        .col-md-7
          input.form-control(type='text', name='company', id='company', value=user.company)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='address') Address
        .col-md-7
          input.form-control(type='text', name='address', id='address', value=user.profile.address)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='contact') Contact
        .col-md-7
          input.form-control(type='tel', name='contact', id='contact', placeholder='123-456-7890' pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}' value=user.profile.contact)
      .form-group
        .offset-sm-3.col-md-7.pl-2
          button.btn.btn.btn-primary(type='submit')
            i.fas.fa-pencil-alt.fa-sm
            | Update Profile

  if user.usertype === 'jobSeeker'            
    .pb-2.mt-2.mb-4.border-bottom
      h3 Upload Resume
    form(action='/api/upload' role='form', enctype='multipart/form-data', method='POST')
      .form-group.row
        label.col-form-label.font-weight-bold File Input
        .col-md-6
          input(type='file', name='myFile')
      button.btn.btn-primary(type='submit') Submit
  else if user.usertype === 'employer'
    .pb-2.mt-2.mb-4.border-bottom
      h3 Publish Job
    form(action='/employer/job' role='form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='usertype', value = user.usertype)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='title') Title
        .col-md-7
          input.form-control(type='text', name='title', id='title')
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='description') Description
        .col-md-7
          input.form-control(type='text', name='description', id='description')
      .form-group
        .offset-sm-3.col-md-7.pl-2
          button.btn.btn.btn-primary(type='submit')
            i.fas.fa-pencil-alt.fa-sm
            | Publish Job
    .pb-2.mt-2.mb-4
      h3 Update Profile
      .stepwizard.col-md-offset-3
        .stepwizard-row.setup-panel
          .stepwizard-step
            a.btn.btn-primary.btn-circle(href='#step-1' type='button') 1
            p Overview
          .stepwizard-step
            a.btn.btn-default.btn-circle(href='#step-2' type='button' disabled='disabled') 2
            p Company Culture
          .stepwizard-step
            a.btn.btn-default.btn-circle(href='#step-3' type='button' disabled='disabled') 3
            p News
          .stepwizard-step
            a.btn.btn-default.btn-circle(href='#step-4' type='button' disabled='disabled') 5
            p CEO
          .stepwizard-step
            a.btn.btn-default.btn-circle(href='#step-5' type='button' disabled='disabled') 6
            p Manager's message

    form(role='form' action='/employer/profile' method='post')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='usertype', value = user.usertype)
      #step-1.row.setup-content
        .col-md-12
            h3  Step 1 / 6
            p Overview
            .form-group
              label.control-label Company Name
              input.form-control(maxlength='100' name='company' type='text' required='required' placeholder='Company Name')
            .form-group
              label.control-label Description
              input.form-control(rows='10' cols='30' name='description' type='textarea' placeholder="Company Description")
            .form-group
              label.control-label Headerquarters
              input.form-control(maxlength='100' name='hdq' type='text' required='required', placeholder='Headerquarters')
            .form-group
              label.control-label Type
              select.form-control(name='type')
                option(value='') -------
                option Private, Independent Company
                option Public
            .form-group
              label.control-label Size
              select.form-control(name='size')
                option(value='') -------
                option 1
                option 2 - 5
                option 6 - 9
                option 10 +
                option 100 +
            .form-group
              label.control-label Website
              input.form-control(maxlength='100' name='website' type='text' required='required' placeholder='Enter your Website')
            .form-group
              label.control-label Phone Number
              input.form-control(maxlength='100' name='phone' type='tel' required='required' placeholder='Enter Your Telephone')
            .form-group
              label.control-label Founded
              input.form-control(rows='10', cols='30', name='foundedon' type='date')
            .form-group
              label.control-label Industry
              select.form-control(name='industry')
                option(value='') -------
                option Real Estate Services
                option Social Media
                option IT
                option Education
                option Other
            button.btn.btn-primary.nextBtn.btn-lg.pull-right(type='button') Next
      #step-2.row.setup-content
        .col-md-12
          h3  Step 2 / 6
          p Company Culture
          textarea(name='culture')
            | Please enter your company's culture.
        button.btn.btn-primary.prevBtn.btn-lg.pull-left(type='button') Previous
        button.btn.btn-primary.nextBtn.btn-lg.pull-right(type='button') Next
      #step-3.row.setup-content
        .col-md-12
          h3  Step 3 / 6
          p News
          .form-group
            label.control-label Created At
            input.form-control(rows='10', cols='30', name='news.createdon' type='date')
          .form-group
            label.control-label News Title
            input.form-control(rows='10', cols='30', name='news.title' type='text' placeholder="News Title")
          .form-group
            label.control-label News Url
            input.form-control(rows='10', cols='30', name='news.url' type='text' placeholder="News Url")
          button.btn.btn-primary.prevBtn.btn-lg.pull-left(type='button') Previous
          button.btn.btn-primary.nextBtn.btn-lg.pull-right(type='button') Next
      #step-4.row.setup-content
        .col-md-12
          h3  Step 4 / 6
          p CEO
          .form-group
            label.control-label CEO Name
            input.form-control(maxlength='100' name='ceo.name' type='text' required='required' placeholder='Company Name')
          .form-group
            label.control-label Description
            input.form-control(rows='10' cols='30' name='ceo.description' type='textarea' placeholder="Company Description")
          .form-group
            label.control-label CEO Image Url
            input.form-control(maxlength='100' name='ceo.url' type='text' required='required', placeholder='Headerquarters')
        button.btn.btn-primary.prevBtn.btn-lg.pull-left(type='button') Previous
        button.btn.btn-primary.nextBtn.btn-lg.pull-right(type='button') Next
      
      #step-5.row.setup-content
        .col-md-12
          h3  Step 5 / 5
          p Manager's Message
          textarea(name='manageMsg')
            | Please enter manager's message.
        button.btn.btn-primary.prevBtn.btn-lg.pull-left(type='button') Previous
        button.btn.btn-success.btn-lg.pull-right(type='submit') Submit

  .pb-2.mt-2.mb-4.border-bottom
    h3 Change Password

  form(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') New Password
      .col-md-7
        input.form-control(type='password', name='password', id='password')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirm Password
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-primary(type='submit')
          i.fas.fa-lock.fa-sm
          | Change Password

  .pb-2.mt-2.mb-4.border-bottom
    h3 Delete Account

  form(action='/account/delete', method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
    .form-group
      p.offset-sm-3.col-md-7.pl-2 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-danger(type='submit')
          i.fas.fa-trash-alt.fa-sm
          | Delete my account

  .pb-2.mt-2.mb-4.border-bottom
    h3 Linked Accounts
  .form-group
    .offset-sm-3.col-md-7.pl-2
      if user.instagram
        p.mb-1: a.text-danger(href='/account/unlink/instagram') Unlink your Instagram account
      else
        p.mb-1: a(href='/auth/instagram') Link your Instagram account
    .offset-sm-3.col-md-7.pl-2
      if user.google
        p.mb-1: a.text-danger(href='/account/unlink/google') Unlink your Google account
      else
        p.mb-1: a(href='/auth/google') Link your Google account
    .offset-sm-3.col-md-7.pl-2
      if user.facebook
        p.mb-1: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
      else
        p.mb-1: a(href='/auth/facebook') Link your Facebook account
    .offset-sm-3.col-md-7.pl-2
      if user.twitter
        p.mb-1: a.text-danger(href='/account/unlink/twitter') Unlink your Twitter account
      else
        p.mb-1: a(href='/auth/twitter') Link your Twitter account
    .offset-sm-3.col-md-7.pl-2
      if user.github
        p.mb-1: a.text-danger(href='/account/unlink/github') Unlink your GitHub account
      else
        p.mb-1: a(href='/auth/github') Link your GitHub account
    .offset-sm-3.col-md-7.pl-2
      if user.linkedin
        p.mb-1: a.text-danger(href='/account/unlink/linkedin') Unlink your LinkedIn account
      else
        p.mb-1: a(href='/auth/linkedin') Link your LinkedIn account
    .offset-sm-3.col-md-7.pl-2
      if user.steam
        p.mb-1: a.text-danger(href='/account/unlink/steam') Unlink your Steam account
      else
        p.mb-1: a(href='/auth/steam') Link your Steam account
